# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Test artifacts
.pytest_cache/
coverage.xml
*.cover
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/